<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soa-Login</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="images/LogoSoa.png" type="image/png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--AOS-animation-->
    <link rel="stylesheet" th:href="@{https://unpkg.com/aos@next/dist/aos.css}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">

</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->


<section id="login-form" class="mt-4">
    <div class="noi-dung">
        <div class="form" style="box-shadow: 5px 4px 15px -8px rgba(0,0,0,0.96); padding: 1rem 1rem;">
            <div data-aos="fade-right"><h2 style="border-bottom: none;">Connectez-vous</h2></div>
            <div th:if = "${param.error}" class="text-center alert alert-warning">
                <p>Username ou Mot de passe Eroné</p>
            </div>

            <div th:if = "${param.logout}" class="text-center alert alert-success">
                <p>Vous vous-êtes déconnecté!</p>
            </div>

            <form th:action="@{/do-login}" method="post" data-aos="fade-down-left">
                <div class="input-form">
                    <!-- <span>User name</span> -->
                    <input type="text" placeholder="Votre mail..." name="username">
                </div>
                <div class="input-form">
                    <!-- <span>Password</span> -->
                    <input type="password" placeholder="Mot de passe" name="password">
                </div>
                <div class="input-form">
                    <input type="submit" value="S'authentifier" style="width: 250px; height: 100%; background: #007bff; border-radius: 3px; text-align: center;">
                </div>
                <div class="input-form">
                    <p>Vous n'avez pas encore un compte ? <a th:href="@{/register}">S'inscire'</a></p>
                </div>
            </form>
        </div>
    </div>

</section>


<!-- Start All Title Box -->
<!--<div th:replace="fragments::instagram-box">-->
<!--</div>-->
<!-- End All Title Box -->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>